@import "../node_modules/bootstrap/scss/bootstrap";
// Modifications to Bootstrap scss variables and maps go here
//example $primary: pink; would change the color of all elements that use the primary color
@import "../node_modules/bootstrap/scss/bootstrap";
body {
  height: 100%;
}
nav.navbar {
  width: 100vw;
  justify-content: flex-start;

  form {
    flex-flow: nowrap;
    @media (max-width: 576px) {
      max-width: 45vw;
    }
  }

  li {
    position: relative;
    flex-shrink: 1;
    button {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal;
    }
  }
  @media (min-width: 768px) {
    li:not(:nth-last-child(-n + 2))::after {
      content: "";
      position: absolute;
      top: 12.5%;
      right: -2px;
      width: 2px;
      height: 75%;
      background-color: black;
    }
  }
}
footer {
  a {
    color: rgba(0, 0, 0, 0.5);
  }
  a:hover {
    color: rgba(0, 0, 0, 0.7);
  }
}
.half-size {
  width: 50%;
}
.no-border {
  border: none;
}
.parallax-background {
  background-color: rgba(0, 0, 0, 0.8);
}
.parallax-container {
  position: relative;
  max-width: 100%;
  height: 50vh;
  overflow: hidden;
  h1 {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    color: white;
    text-shadow: 0px 0px 4px black;
    z-index: 1;
  }
  img {
    min-height: 100%;
    max-width: 150%;
    object-fit: cover;
  }
}
