.App {
  text-align: center;
}

.featured-display{
  background-image: url(https://github.com/GreyActOwl1/tokyoSweetsBakery/blob/colors/img/joshua-bartell-unsplash-wood-bg.jpg?raw=true);
  background-color: transparent;
  text-align: start;
}